{{/*
=============================================================================
frontend service
exposes the nginx frontend within the cluster
=============================================================================
*/}}
{{- if .Values.frontend.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "test-workflow.fullname" . }}-frontend
  namespace: {{ include "test-workflow.namespace" . }}
  labels:
    {{- include "test-workflow.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    # http port for nginx web server
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "test-workflow.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
{{- end }}
